  body {
    background-color: #fff;
    color: #333;
    font: 1em / 1.4 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 1em;
    margin: 0;
  }

  * {
    box-sizing: border-box;
  }

  form {
    width: 400px;
  }

  .imput_name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .imput_age {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .imput_email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }